# Ignore node_modules directory
node_modules/

# Ignore build output
build/

# Ignore environment-specific files
.env

# Ignore log files
*.log

# Ignore editor-specific files
.vscode/
.idea/

# Ignore dependency lock files
package-lock.json
yarn.lock