.login-container{
    margin-top: 8rem;
    font-family: 'Poppins', sans-serif;
}
.input-bg{
    background-color: #f3f3f3;
    color: #dbd5d5;
    font-size: 0.9rem;
    height: 2.9rem;
}

.custom-btn{
    padding: 0.6rem;
    border-radius: 4px;
}

.custom-btn-blue{
    border: 1px solid #b3e0ff;
    background-color: #b3e0ff;
    color: #fff;
}

.custom-btn-white{
    border: 1px solid #f0f3f5;
    background-color: #f8f9fa;
    color: #000;
    padding: 15px;
}

.social-desk-img{
    display: block;
}

.social-mob-img{
    display: none;
}

@media only screen and (max-width: 450px){
    .social-desk-img{
        display: none;
    }
    
    .social-mob-img{
        display: block;
    }

    .login-container{
        margin-top: 2.5rem;
    }

    .card-body{
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
    .card{
        border: none !important;
    }

    .shadow{
        box-shadow: none !important;
    }
}